<mat-chip-list aria-label="components selection">
  <mat-chip (click)="creator.leftConsole.setStatus(textWizard,true)" color="primary" selected>Text Input</mat-chip>
  <mat-chip (click)="creator.leftConsole.setStatus(radioWizard,true)" color="primary" selected>Radio Input</mat-chip>
  <mat-chip (click)="creator.leftConsole.setStatus(checkboxWizard,true)"color="primary" selected>
    CheckBox Input</mat-chip>
  <mat-chip (click)="creator.leftConsole.setStatus(selectWizard,true)" color="primary" selected>Select
    Input</mat-chip>
</mat-chip-list>