<mat-chip-list aria-label="tool selection">
  <mat-chip (click)="creator.rightConsole.setStatus(select_single,true)">Select</mat-chip>
  <mat-chip (click)="creator.rightConsole.setStatus(util_clear,true)">Unselect</mat-chip>
  <mat-chip (click)="creator.rightConsole.setStatus(add_attribute,true);">Attribute</mat-chip>
  <mat-chip
  (click)="creator.rightConsole.setStatus(add_connection,true);creator.connectionMgr.generate()">
    Connection</mat-chip>
  <mat-chip (click)="creator.rightConsole.setStatus(util_delete,true)">Delete</mat-chip>
  <mat-chip (click)="creator.doCancle()">Undo</mat-chip>
  <mat-chip (click)="createOrUpdate()" color="accent" selected>Save</mat-chip>
  <mat-chip>
    <app-download-helper></app-download-helper>
  </mat-chip>
</mat-chip-list>